<table class="table table-striped table-bordered table-sm">
  <thead class="table-secondary">
    <tr>
      <th class="th-size" scope="col"  >Name</th>
      <th class="th-size" scope="col">Description</th>
      <th class="th-size" scope="col">CreationDate </th>
      <th class="th-size" scope="col">StartDate  </th>
      <th class="th-size" scope="col">LastDate </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td class="th-size">{{ event.Name }}</td>
      <th class="th-size" scope="row">{{ event.Description }}</th>
      <th class="th-size" scope="row">{{ event.CreationDate }} </th>
      <th class="th-size" scope="row">{{ event.StartDate }}</th>
      <th class="th-size" scope="row">{{ event.LastDate }}</th>
    </tr>
  </tbody>
</table>