<table class="table table-striped table-bordered table-sm">
  <thead class="table-secondary">
    <tr>
      <th class="th-size" scope="col"  >Name</th>
      <th class="th-size" scope="col">Description</th>
      <th class="th-size" scope="col">CreationDate </th>
      <th class="th-size" scope="col">StartDate  </th>
      <th class="th-size" scope="col">LastDate </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td class="th-size">{{ event.name }}</td>
      <th class="th-size" scope="row">{{ event.description }}</th>
      <th class="th-size" scope="row">{{ event.creationDate }} </th>
      <th class="th-size" scope="row">{{ event.startDate }}</th>
      <th class="th-size" scope="row">{{ event.lastDate }}</th>
    </tr>
  </tbody>
</table>
